<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #282828 !important;
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width:18rem;
        margin: auto;
        text-align: center;
        font-family: arial;
      }
      .card img {
        border:1px solid black;
        border-radius:50%;
        width:150px;
        margin:0 auto;
        margin-top:7px;
        height:150px;
      }

.title {
  color: grey;
  font-size: 18px;
}

/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}*/

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiky | Discord Bot</title>
    <link rel="stylesheet" type="text/css" href="/mdb.min.css" />
    <script src="/mdb.min.js"></script>
    <link
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.discordapp.com/avatars/771007705103597610/7d559d192ee8085143bfbbf8c1a9db42.webp?size=4096"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=yes"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
      integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Kiky</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invite">Invite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/github">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/commands">Commands</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <br>
<% if (req.user) { %>
  <div class="card">
    <img src="https://cdn.discordapp.com/avatars/<%= req.user.id %>/<%= req.user.avatar %>.png?size=4096" alt="<%= req.user.username%>#<%= req.user.discriminator %>" class="card-img-top">
    <div class="card-body">
      <h1><%= req.user.username %>#<%= req.user.discriminator %></h1>
      <p class="title">Discord User</p>
      <a href="/logout" class="btn btn-primary">Log Out</a>
    </div>
    </div>
  <% } else { %>
  
  <a href="/login" style="text-align:center;text-decoration:none;">Login</a>
  
  <% } %>
  
  
</html>
  </body>