<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #282828 !important;
      }

      
      .containers {
        margin:10px;
      }
      
      
      
  * {
  box-sizing: border-box;
}    

      
.title {
  color: grey;
  font-size: 18px;
}

/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}*/

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
      
      
/*        */
      .columnes {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.rowsss {margin: 0 -5px;}

/* Clear floats after the columns */
.rowsss:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columnes {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cardd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
      * {
  box-sizing: border-box;
}
                  .centertext {
              color: white;
              margin-top: 90px;
              font-size: 50px;
            }
      
      .btn {
        margin-top: 35px;
      }
      
      .mybox {
        margin: 50px;
        border: 3px solid black;
        padding: 25px;
        background-color: lightgrey;
      }
      
      .nav-link {
        color: white !important;
      }
      
      .navbar-brand {
        font-size: 35px !important;
        color: white !important;
      }
      
            .navbar {
              margin: 10px;
            }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage | Kiky</title>
    <link rel="stylesheet" type="text/css" href="/mdb.min.css" />
    <script src="/mdb.min.js"></script>
    <link
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.discordapp.com/avatars/<%= client.user.id %>/<%= client.user.avatar %>.webp?size=4096"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,user-scalable=yes"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
      integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
      crossorigin="anonymous"
    ></script>
              <meta property="og:type" content="website">
<meta property="og:site_name" content="kiky-bot.glitch.me">
<meta property="og:title" content="Manage Server">
<meta property="og:description" content="Manage your server from kiky dashboard">
<meta property="og:image" content="https://cdn.discordapp.com/avatars/<%= client.user.id %>/<%= client.user.avatar %>.webp?size=4096">
<meta name="theme-color" content="GREEN">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Kiky</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invite">Invite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/github">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/commands">Commands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>                  <li class="nav-item">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                  </li>            
            <% if(req.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/account"><%= req.user.username %>#<%= req.user.discriminator %></a>
            </li>
            <% }else{ %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  
  <body>
  
    <% if (req.user) { %>
   
    <h1 class="text-white text-center">Prefix</h1>
    
    
    <div class="mybox">
          <form method="post">
      
   
  <div class="form-group">
    <% let prefix = db.get(`prefix.${guild.id}`) 
    if (!prefix) prefix = client.config.prefix;
    %>
    
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" name="prefix" placeholder="<%= prefix %>">
  </div>
      </div>
  <p align="center">
    <button class="btn btn-primary" onclick="getPrefix()">Save Change</button>
      </p>
    </form>  
    </div>
    
    <% } else { %>
    
     <p class="centertext" align="center" id="demo">Hello! you must <a href="/login">login</a> to manage server</p>
    
    <% } %>
</body>
  
    <script>
      
      function submit() {
        
        var newprefix = document.getElementById('prefix').value;
        if (!newprefix) newprefix = client.config.prefix;
        
        return db.set(`prefix.${guild.id}`, newprefix)
        
      }
      
      function getPrefix() {
        var x = document.getElementById('prefix').value;
        if (!x) x = client.config.prefix;
        
        db.set(`prefix.${guild.id}`, x)
      }
    </script>  
  
</html>
